<footer class="footer">
    <ul>
      <h4>Company</h4>
      <li>Hiring</li>
      <li>Blog</li>
      <li>Contact Us</li>
    </ul>
    <ul>
      <h4>Connect</h4>
      <li>"Inside China Ed" Newsletter</li>
    </ul>
    <ul>
      <h4>Social</h4>
      <li>Facebook</li>
      <li>Twitter</li>
      <li>LinkedIn</li>
    </ul>
</footer>
