.title-headingBlock {
  @include flex-grid-row();

  .description {
    @include flex-grid-column(8);
    text-align: center;

    @include breakpoint(medium down) {
      @include flex-grid-column(10);
    }
  }

  &.block-large {

    .description {
      @include flex-grid-column(12);
    }
  }


  &.headingBlock-img {
    .featured-img {
      width: 260px;
      margin-right: 2rem;
      margin-top: 0.5rem;
      max-height: 180px;
      overflow: hidden;

      &.full {
        width: 100%;
        margin-right: 0;
      }

      &.half {
        width: 50%;
        max-height: 240px;
        margin: 0.5rem auto;
        padding-bottom: 0.5rem;
      }
    }

    .type-header-large {
      margin-bottom: .5rem;
    }

    .description {
      text-align: left;
    }
  }
}
