.inspector {
  width: 100%;
  padding: 0.5rem;

  &.interview-inspector {
    .row {
      padding-bottom: 0.75rem;

      &:last-child {
        border-bottom: 1px solid $dark-gray;
      }

      @include flex-align(middle)
      &-content {
        @include flex-grid-column(7, 0);
        .user-link {
          margin: 0 0.5rem;
        }
      }
      &-title {
        @include flex-grid-column(5, 0);
        text-align: right;
      }

      .user-link {
        padding: 0.35rem;
        border: 1px solid $light-gray;
        box-shadow: 1px 1px 1px $medium-gray;
      }
    }

    tbody {
      td {
        &.fill {
          width: 100%;
          text-align: left;
        }
      }
    }
  }

  .ordered-hgraph {
    border: 2px solid $primary-color;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-spacing: 0;

    td {
      padding: rem-calc(4);
      border-right: 1px solid $medium-gray;

      &:last-child {
        border-right: none;
      }

      &.fill {
        background-color: $primary-color;
      }
    }
  }
}
