<div class="row lt-section-margin-small">
  <div class="columns">
    <h2 class="title type-subtitle-medium lt-margin-lower-small">Scheduler</h2>
    <h2 class="title type-subtitle-medium lt-margin-lower-small">Due Date Summary</h2>
    <h2 class="title type-subtitle-medium lt-margin-lower-small">WSE Info</h2>
    <h2 class="title type-subtitle-medium lt-margin-lower-small">Interview Day Schedules</h2>
    <h2 class="title type-subtitle-medium lt-margin-lower-small">Post Interview Data Entry (156)</h2>
    <h2 class="title type-subtitle-medium lt-margin-lower-small">Scanning Center</h2>
    <h2 class="title type-subtitle-medium lt-margin-lower-small">Headshot Uploader</h2>
    <h2 class="title type-subtitle-medium lt-margin-lower-small">Proctor Worklog</h2>
    <h2 class="title type-subtitle-medium lt-margin-lower-small">Interviewer Worklog</h2>
    <h2 class="title type-subtitle-medium lt-margin-lower-small">Interviewed Students (3 / 156)</h2>
  </div>
</div>
