<div class="inspector module">
  <h2 class="type-subtitle-large lt-section-padding-small">Inspector</h2>
  <div class="container-border lt-section-margin-medium lt-border-bottom">
    <div class="inner-row collapse text-center">
      <h2 class="title type-header-medium">北京盈科中心A座</h2>
      <h5 class="date type-subtitle-medium">01 MAR 2017</h5>
      <div class="inspector interview-inspector">
        <div class="row">
          <h4 class="row-title">Proctors:</h4>
            <div class="row-content">
              <span><a class="user-link">BJ</a></span>
              <span><a class="user-link">RL</a></span>
            </div>
        </div>
        <div class="row">
          <h4 class="row-title">Interviewers:</h4>
          <div class="row-content">
            <span><a class="user-link">LE</a></span>
            <span><a class="user-link">RZ</a></span>
          </div>
        </div>
        <div class="row">
          <h4 class="row-title">O/C:</h4>
        </div>
      </div>
      <table class="inspector interview-inspector">
        <tbody>
          <tr>
            <td>Types:</td>
            <td class="fill">N, VPI, D</td>
            <td>12/12</td>
          </tr>
          <tr>
            <td>Class:</td>
            <td class="fill">U, G, D</td>
            <td>Fast: 3/12</td>
          </tr>
        </tbody>
      </table>
      <div class="inspector">
        <table class="ordered-hgraph">
          <tr>
            <td>0</td>
            <td>2</td>
            <td>2</td>
            <td class="fill"></td>
            <td>2</td>
            <td>2</td>
            <td>1</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="filters module">

  <div class="container-border lt-border-bottom">
    <h2 class="title type-subtitle-large">Filters</h2>
    <div class="inner-row collapse text-center">
      {{> multifaceted-search-wrapper title='Country' filter='filter-country' }}
      {{> multifaceted-search-wrapper title='City' filter='filter-city'}}
      {{> multifaceted-search-wrapper title='Location' filter='filter-location'}}
      {{> multifaceted-search-wrapper title='Location' filter='filter-interviewer'}}
    </div>
  </div>
</div>
