.hero-slider {
  display: table;
  width: 100%;

  .slide {
    height: 500px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;

    .background {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      background: -moz-linear-gradient(left, rgba(34,63,109,1) 0%, rgba(40,114,177,1) 51%, rgba(46,163,242,0.41) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(34,63,109,1) 0%,rgba(40,114,177,1) 51%,rgba(46,163,242,0.41) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(34,63,109,1) 0%,rgba(40,114,177,1) 51%,rgba(46,163,242,0.41) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#223f6d', endColorstr='#692ea3f2',GradientType=1 ); /* IE6-9 */

      &:before {
        content: "";
        position: absolute;
        height: 400%;
        width: 90%;
        top: -200%;
        border-radius: 0 0 100% 0;
        background: rgba(255,255,255,.1);
      }
    }

    .content {
      margin-left: 4rem;
      color: white;

      .title {
        margin-bottom: 0;
        font: {
          size: 2.6rem;
          weight: 600;
        }
      }

      .subtitle {
        margin-bottom: 0;
        font: {
          size: 1.5rem;
          weight: 200;
        }
      }

      .button {
        font-size: 1rem;
        text-transform: uppercase;
        margin-top: 1rem;

        &.small {
          font-size: .75rem;
          margin: 0;
        }
      }

      .sub-cta {
        .button {
          background-color: rgba(255,255,255,.8);
          color: $primary-color;
          margin-right: 1rem;

          &:hover {
            background-color: white;
          }
        }
      }

    }
  }
}
