.tabs {
    /* Foundation Override */
    background: inherit;
}

.tab {
    &-group {}

    &-header {
      @include flex-grid-column();
      .tabs-title {
        & >a {
          &:hover {
            background: $light-gray;
          }
          //font-size: 1rem;
          @include breakpoint(medium) {
              //@include font-size(16);
          }
        }
      }
      .tabs-title.is-active>a {
          background-color: $primary-color;
      }
    }

    &-group {
      &.curved {
        .tab-header {

            .tabs-title {
                &>a {
                    @include border-radius(6px 6px 0 0 );
                    padding: 8px 20px 0;
                }
            }
        }
        .tabs-content {
            border: 1px solid $light-gray;
        }
      }
    }

    &-group {
      &.tab-slim {
        .tab-header {
          .tabs-title {
            &>a {
              padding: 1rem .3rem;
            }

            &.is-active {
              &>a {
                color: white;
              }
            }
          }
        }
      }
    }
}

.tab {
    &-group.pills {
        .tab-header {
            @include grid-row();
            border: 1px solid $light-gray;
            width: 100%;
            background-color: white;
            border-radius: 4px;
        }
        .tabs-title {
            display: inline-block;
            padding: 2px 0;
            @include grid-column(6);
            padding-left: .25rem !important;
            padding-right: .25rem !important;
            text-align: center;

            &>a {
                color: $light-gray;
                background-color: initial;
                padding: 2px 20px;
                width: 100%;
                border-radius: 4px;
            }
            &.is-active>a {
                background-color: $secondary-color;
                color: white;
            }

        }
        .tab-panel {
            .content {
                &>.columns {
                    @include grid-column(12);
                }
            }
        }
    }
}

.modal {
    max-height: 90% !important;
    position: fixed !important;

    @include breakpoint(small only) {
        max-height: 100% !important;
        top: 0;
    }
}

.title .limit {
    color : #afaaa5;
}

/* RTL STYLING CORRECTIONS (ARABIC) */
html[dir="rtl"] {
    .tabs-title{
        float:right;
    }
}
