table {
  margin: 0;
  &.stats {
    &-quick {
      margin-top: 0.5rem;
      font-size: 0.75rem;

      tr {
        td {
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
        }
      }
    }
  }
}
