<div class="hero-slider">
  <div class="slide">
    <div class="background"></div>
    <div class="content">
      <h3 class="title">Hear Students Tell Their Story</h2>
      <h4 class="subtitle hide">Verified Applicants</h3>
      <a class="button">Reserve Interview</a>
      <div class="sub-cta">
        <a class="button small">Our Interviewers</a>
        <a class="button small">Statement of Ethics</a>
      </div>
    </div>
  </div>
</div>
