.container-border {
  position: relative;
  margin-top: 1rem;
  padding-top: 1rem;
  border: 1px solid $medium-gray;

  .inner-row {
    @include flex-grid-row();
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;

    &.collapse {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.collapse {
    padding-top: 0;
  }

  .title {
    position: absolute;
    left: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: $white;

    &.type-header-medium {
      top: -1rem;
    }

    &.type-subtitle-large {
      top: -0.7rem;
    }
  }

  .date {
    position: absolute;
    bottom: -0.5rem;
    right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: $white;
  }

  .input-wrapper {
    @include flex-grid-column(shrink, 1rem);

    &:nth-of-type(1) {
      padding-left: 0;
    }

    &:nth-of-type(2) {
      padding-right: 0;
    }
  }
}

.title + .container-border {
  margin-top: 0;
  padding-top: 0;
}
