.footer_container {
  background-color: $dark-gray;
  color: white;

  .footer {
    @include flex-grid-row();
    padding-top: 2rem;
    padding-bottom: 2rem;

    ul {
      @include flex-grid-column(shrink, 8rem);
      margin: 0;

      h4 {
        color: $highlight-blue-alternate;
      }

      li {
        list-style: none;
        position: relative;
        padding-left: 1.25rem;

        &:before {
          position: absolute;
          top: 9px;
          left: 0;
          border-width: 3px;
          border-style: solid;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          content: "";

          color: $highlight-blue-alternate;
        }
      }
    }
  }
}
