<div class="breadcrumb-row">
    <div class="small-12 columns">
        <nav aria-label="You Are Here:" role="navigation">
            <ul class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList" aria-label="breadcrumbs">
              <li role="menuitem" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemprop="name">Home: Dashboard</span>
                <meta itemprop="position" content="1" />
              </li>
            </ul>
        </nav>
    </div>
</div>
