<div class="input-wrapper text-center">
  {{#if url}}
    <a class="button primary" href="{{url}}">{{title}}</a>
  {{else}}
    <button class="button primary" type="submit">{{title}}</button>
  {{/if}}
</div>
